.call2action{   
    &-wrap{
        display: flex;
        flex-wrap: wrap;
        min-height: 483px;
        background-color: var(--white);
        justify-content: center;
        align-items: stretch;
        .text-c2a {
            display: flex;
            color: #003A70;
            align-content: center;
            font-size: 48px;
            font-weight: 700;
            text-align: center;
            line-height: 72px;
            letter-spacing: 0.0012em;
        }
        .text-c2a-sub {
            font-size: 32px;
            text-align: justify;
            line-height: 63px;
            letter-spacing: 0.0012em;
        }
        .text-c2a-disclaimer-title {
            font-size: 36px;
            text-align: center;
            line-height: 72px;
            letter-spacing: 0.0012em;
        }
        .text-c2a-disclaimer {
            font-size: 24px;
            text-align: center;
            line-height: 48px;
            letter-spacing: 0.0012em;
        }
    }
    &-info{
        flex: 1;
        padding: 80px 30px;
        min-width: 300px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1024px) {
            flex: 100%;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 63px;
            text-align: center;
            letter-spacing: 0.0012em;
            color: var(--blue-dark);
        }
        strong{
            font-weight: 900;
        }
    }
    &-contact{
        z-index: 1;
        position: relative;
        box-shadow: 0px -10px 0px rgba(0, 0, 0, 0.15);
        flex: 1;
        background-color: var(--blue-dark);
        color: var(--white);
        min-height: 483px;
        padding: 80px 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        flex-wrap: wrap;
        form{
            width: 100%;
        }
    }
    &-title{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        letter-spacing: 0.0012em;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    &-group{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        max-width: 405px;
        width: 100%;
        margin: auto;
        &__label{
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 44px;
            text-align: left;
            letter-spacing: 0.0012em;
            color: #FFFFFF;
        .error &{
            color: #ff7c7c;
        }
        .succes &{
            color: #2ac834 ;
        }
        span{
            font-size: 18px;
        }
        }
        &__input{
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            height: 45px;
            background-color: #FFFFFF;
            border-radius: 20px;
            margin-bottom:24px ;
            font-weight: 400;
            font-size: 20px;
            line-height: 35px;
            letter-spacing: 0.0012em;
            color: #003A70;
            padding-left: 24px;
            box-shadow: var(--shadow);
            &::placeholder{
                // width: 220px;
                // height: 35px;
                font-weight: 400;
                font-size: 20px;
                line-height: 35px;
                letter-spacing: 0.0012em;
                color: #003A70;
            }
        }
        &__submit{
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0px 10px;
            min-width: 141px;
            height: 63px;
            background: #F8E08E;
            border-radius: 20px;
            font-weight: 400;
            font-size: 36px;
            line-height: 63px;
            letter-spacing: 0.0012em;
            color: #003A70;
            margin: 0px auto;
            display: block;
            cursor: pointer;
            box-shadow: var(--shadow);
        }

    }
}