:root {
  // Colors
  --blue-dark: #003a70;
  --blue-light: #007d8a;
  --green: #71cc98;
  --yellow: #f8e08e;
  --white: #fff;

  // Breakpoints
  --extra-large-screen: 1440px;
  --large-screen: 1024px;
  --medium-screen: 768px;
  --small-screen: 640px;
}

@font-face {
  font-family: 'Josefin Sans';
  src:  url('../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.woff') format('woff');
  src:  url('../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.eot') format('embedded-opentype'),
        url('../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.ttf') format('truetype'),
        url('../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.svg') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Josefin Sans';
  src:  url('../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.woff') format('woff');
  src:  url('../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.eot') format('embedded-opentype'),
        url('../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.ttf') format('truetype'),
        url('../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.svg') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Atkinson';
  src:  url('../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.woff') format('woff');
  src:  url('../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.eot'),
        url('../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.ttf') format('truetype'),
        url('../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.svg#webfont') format('svg');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
  line-height: 1;
	background-color: var(--blue-dark);
  font-family: 'Atkinson';
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
