header{
  align-items: center;
  position: relative;
  background-color: var(--white);
  display: flex;
  height: 5rem;
  justify-content: flex-end;
  border-radius: 0 0 0 20px;
  
  #logo{
    align-items: center;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;

    svg{
      background-color: var(--white);
      border-radius: 50%;
      border: 10px solid var(--white);
      height: 5.5rem;
      width: 5.5em;

      image{
        width: inherit;
        height: inherit;
      }
    }
    h1{
      font-size: 72px;
      font-family: Helvetica, Arial, sans-serif;
      padding-bottom: 10px ;
      color: var(--blue-dark);
      
      span{
        background-color: var(--white);
        border-radius: 16px;
        padding-bottom: 0.3rem;
        
      }
    }
  }

  .navBar{
    margin-right: 1rem;
    ul{
      display: flex;
      gap: 1rem;

      .button-nav{
        color: var(--blue-dark);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px ;
        font-weight: 700;
        border-radius: 16px;
        padding: 0.5rem 0.3rem;
        border: 4px solid var(--blue-dark);
        text-decoration: none;

        &:hover{
          color: var(--green);
        }
      }

      .login{
        background-color: var(--blue-dark);
        color: var(--white);
      }
    }
  }
}