.whatactivities {
  background-color: var(--green);
  font-size: 48px;
  font-family: 'Atkinson';
  color: var(--blue-dark);
  line-height: 70px;

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    min-height: 37.5rem;
    strong {
      font-weight: 700;
    }
  }

  &-texts {
    text-align: center;
  }

  &-postits {
    display: flex;
    justify-content: center;
    min-height: 30rem;
    align-items: center;
  }

  &-postit-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 20px;

    &:nth-child(1){
      margin-right: clamp(0%, 45vw + 5%, 40%);
    }
    &:nth-child(2){
      margin-right: clamp(0%, 25vw + 5%, 30%);
    }
    &:nth-child(3){
      margin-left: clamp(0%, 25vw + 5%, 30%);
    }

    .postit {
      background-color: var(--yellow);
      max-width: 400px;
      width: 95vw;
      min-height: 400px;

      &_small {
        max-width: 200px;
        min-height: 200px;
      }
      &_medium {
        max-width: 226px;
        min-height: 226px;
      }
    }
  }

  @media (max-width:480px) {
    &-postit-container:not(.whatactivities-postit-container:last-child) {
      display: none;
    }
  }
}
