.whatpublish{
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding:80px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    /*
    &-postit{
    background-color: white;
    min-height: 460px;
    min-width: 460px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow :(10px 10px 0px #00000026);
        &-body{
            height: 400px;
            width: 400px;
            background-color: var(--yellow);
            clip-path: polygon(0 0, 100% 0, 100% 87%, 95% 91%, 89% 94%, 83% 96%, 75% 98%, 68% 99%, 57% 100%, 0 100%);
            display: flex;
            gap: 30px;
            flex-direction: column;
            align-items: center;
        };
        &-title{
            margin-top: 10px;
            font-family: 'Atkinson';
            font-size: 36px;
            line-height: 63px;
            font-weight: bold;
            color: var(--blue-dark);
            text-align: center;
        };
        &-description{
            font-family: 'Atkinson';
            font-size: 20px;
            line-height: 35px;
            font-weight: 400;
            color: var(--blue-dark);
            text-align: center;
            &-info-container{
                background-color: white;
                border-radius: 30px;
                padding: 10px 40px;
            };
            &-info-details{
                font-family: 'Atkinson';
                font-size: 20px;
                line-height: 35px;
                font-weight: 400;
                color: var(--blue-dark);
                text-align: center;
            };
        };
        &-corner{
            height: 1000px;
            width: 1050px;
            color: var(--yellow-dark);
        };
    };
    */
    &-postit{
        height: 400px;
        width: 400px;
        background-color: white;
        border-radius: 20px;
    };

    &-info{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 660px;
        &-title{
            font-family: 'Atkinson';
            font-size: 48px;
            line-height: 72px;
            font-weight: 400;
            color: var(--blue-dark);
            text-align: center;
        };
        &-description{
            background-color: white;
            padding: 10px 30px;
            border-radius: 40px;
            font-family: 'Atkinson';
            font-size: 36px;
            line-height: 63px;
            font-weight: 400;
            color: var(--blue-dark);
            text-align: center;
            box-shadow :(10px 10px 0px #00000026);
        };
    }
}
