.whatpublish{
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 80px 30px 80px 30px;
    @media screen and (max-width: 640px) {
      padding: 80px 0px 80px 0px;
    }
    &-item{
        min-width: 300px;
        background-color: var(--yellow);
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

        &-title{
            margin-top: 10px;
            font-family: 'Atkinson';
            font-size: 36px;
            line-height: 63px;
            font-weight: bold;
            color: var(--blue-dark);
        };
        &-description{
            font-family: 'Atkinson';
            font-size: 20px;
            line-height: 35px;
            font-weight: 400;
            color: var(--blue-dark);
            text-align: center;
            &-info-container{
                background-color: white;
                border-radius: 30px;
                padding: 10px 40px;
                max-width: 350px;
            };
            &-info-details{
                font-family: 'Atkinson';
                font-size: 20px;
                line-height: 35px;
                font-weight: 400;
                color: var(--blue-dark);
                text-align: center;
            };
        };
    &-info{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 660px;
        &-title{
            font-family: 'Atkinson';
            font-size: 48px;
            line-height: 72px;
            font-weight: 400;
            color: var(--blue-dark);
            text-align: center;
        };
        &-description{
            background-color: white;
            padding: 10px 30px;
            border-radius: 40px;
            font-family: 'Atkinson';
            font-size: 36px;
            line-height: 63px;
            font-weight: 400;
            color: var(--blue-dark);
            text-align: center;
            box-shadow :(10px 10px 0px #00000026);
            @media screen and (max-width: 640px) {
               padding: 10px 16px;
            }
        };
    }
}