.why {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  background: #71cc98;
  gap: 30px;
  padding: 40px 30px 80px 30px;
  flex-direction: column;

  @media screen and (max-width: 640px) {
    padding: 80px 16px 80px 16px;
  }

  &-card {
    background-color: #fff;
    color: #003a70;
    display: flex;
    flex-direction: column;
    width: 26vw;
    align-items: center;
    border-radius: 40px;
    margin: 0.5rem 1rem;
    min-width: 320px;
    max-width: 390px;
    box-shadow: 10px 10px 0px #00000026;

    &-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap:1rem;

    }

    &-img {
      width: 3rem;
      margin: 30px;

    }

    &-title {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 36px;
      text-align: center;
      line-height: 54px;
    }

    &-p {
      margin: 30px;
      text-align: center;
      font-size: 20px;
      line-height: 35px;
    }
  }
}
