.workshops {
  max-width: 1440px;
  background: #F8E08E;

  &-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 30px 80px 30px;
    @media screen and (max-width: 1024px) {
      padding: 80px 30px 40px 30px;
    }
    @media screen and (max-width: 640px) {
      padding: 80px 16px 40px 16px;
    }
    &-half {
      display: flex;
      width: 100%;
      min-width: 300px;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 15px 0px 0px;

      @media screen and (max-width: 1024px) {
        padding: 0px 0px 40px 0px;
        min-width: 100%;
      }
      &:last-child{
        padding: 0px 0px 0px 15px;
        @media screen and (max-width: 1024px) {
          padding: 0px 0px 40px 0px;
          flex-direction: column-reverse;
          width: 100%;
        }
      }
    }

    & p {
      padding: 0px 0px 16px 0px;
      color: #003a70;
      text-align: center;
      line-height: 72px;
      font-size: 48px;
    }

    & img {
      padding: 15px;
    }
  }
}