:root {
  --blue-dark: #003a70;
  --blue-dark-shadow: #002140;
  --blue-light: #007d8a;
  --green: #71cc98;
  --yellow-dark: #E5C34D;
  --yellow: #f8e08e;
  --white: #fff;
  --extra-large-screen: 1440px;
  --large-screen: 1024px;
  --medium-screen: 768px;
  --small-screen: 640px;
  --shadow:10px 10px 0px rgba(0, 0, 0, 0.15);
}

@font-face {
  font-family: "Pacifico";
  src: url("../assets/fonts/Pacifico/Pacifico-Regular.woff2") format("woff2"), url("../assets/fonts/Pacifico/Pacifico-Regular.woff") format("woff"), url("../assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Atkinson";
  src: url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.woff") format("woff");
  src: url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.eot"), url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.ttf") format("truetype"), url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.svg#webfont") format("svg");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1;
  background-color: var(--blue-dark-shadow);
  font-family: "Atkinson";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.subline {
  position: relative;
}
.subline::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 150px;
  border-radius: 50px;
  background-color: #f8e08e;
}
.subline--dash::after, .subline--dashed::after {
  height: 3px;
  width: 10px;
  border-radius: 50px;
  background-color: #f8e08e;
  box-shadow: -52px 0px 0px #f8e08e, -35px 0px 0px #f8e08e, -17px 0px 0px #f8e08e, 0px 0px 0px #f8e08e, 17px 0px 0px #f8e08e, 35px 0px 0px #f8e08e, 52px 0px 0px #f8e08e;
}

strong {
  font-weight: bold;
}

.postit {
  border: solid 30px white;
  background-color: white;
  border-radius: 30px;
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.postit::before {
  height: 15%;
  width: 50%;
  content: "";
  position: absolute;
  bottom: -2px;
  right: -1px;
  display: flex;
  background-color: white;
  clip-path: polygon(100% 44%, 100% 100%, 0% 100%, 43% 95.5%, 63% 84.5%, 77% 73%, 90% 60%);
}
.postit::after {
  height: 15%;
  width: 50%;
  content: "";
  position: absolute;
  bottom: -2px;
  right: -1px;
  display: flex;
  background-color: #00000033;
  mix-blend-mode: multiply;
  clip-path: polygon(88% 0%, 93% 11%, 97.5% 27%, 100% 44%, 90% 60%, 77% 73%, 63% 84.5%, 43% 95.5%, 0% 100%, 31% 91%, 50% 75.5%, 63.5% 58%, 76% 35.5%, 84% 15.5%);
}

.divider {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding-bottom: 10px;
}
.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  -webkit-filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 8px 0px rgba(0, 0, 0, 0.15));
}
.divider-rotate {
  transform: rotateX(180deg);
}
.divider-fill-yellow {
  fill: var(--yellow);
}
.divider-fill-green {
  fill: var(--green);
}

header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 5rem;
  justify-content: flex-end;
  padding-right: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
}
header #logo {
  align-items: center;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  text-decoration: none;
}
header #logo svg {
  background-color: var(--white);
  border: 10px solid var(--white);
  height: 5.5rem;
  transition: transform 1s ease;
  width: 5.5em;
}
header #logo svg image {
  width: inherit;
  height: inherit;
}
header #logo h1 {
  color: var(--blue-dark);
  font-family: "Pacifico", sans-serif;
  font-size: clamp(1.5rem, 5vw + 1rem, 4.5rem);
  font-weight: 400;
  padding-bottom: 10px;
  transition: transform 1s ease;
}
header #logo h1 span {
  background-color: var(--white);
  border-radius: 30px;
  padding-bottom: 0.3rem;
}
header .menu-burger {
  background-color: var(--blue-light);
  border-radius: 6px;
  overflow: hidden;
  padding: 0.5rem;
}
header .menu-burger:hover {
  cursor: pointer;
}
header .menu-burger .burger-line {
  fill: var(--green);
  height: 0.3rem;
  min-width: 2rem;
  transition: transform 0.5s ease;
}
header .switch-burger .burger-line:nth-child(1) {
  transform: rotate(45deg) scaleX(1.5) translateY(-2px);
}
header .switch-burger .burger-line:nth-child(2) {
  transform: translateX(13px) rotateY(90deg);
}
header .switch-burger .burger-line:nth-child(3) {
  transform: translate(-23px, 13px) rotate(-45deg) scaleX(1.5);
}
header .nav-bar {
  display: flex;
}
header .nav-bar .panel {
  opacity: 0;
  align-items: center;
  background-color: var(--white);
  flex-direction: column;
  gap: 4rem;
  padding-top: 8rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100vh);
  transition: opacity 0.5s, transform 0.5s;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}
header .nav-bar .show-panel {
  opacity: 1;
  transform: translateY(0vh);
}
header .nav-bar ul {
  display: flex;
  gap: 1rem;
}
header .nav-bar ul .button-nav {
  border-radius: 16px;
  border: 4px solid var(--blue-light);
  color: var(--blue-light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding: 0.5rem 0.3rem;
  text-decoration: none;
  transition: color 0.5s ease;
}
header .nav-bar ul .button-nav:hover {
  color: var(--green);
}
header .nav-bar ul .login {
  background-color: var(--blue-light);
  color: var(--white);
}

.header-on-scroll #logo svg {
  transform: scale(0.6) translateY(-25px);
}
.header-on-scroll #logo h1 {
  transform: scale(0.7) translateY(-25px) translateX(-60px);
}

.container {
  max-width: var(--extra-large-screen);
  margin: 0 auto;
}

.about-slogan {
  z-index: 2;
  position: relative;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 30px 80px 30px;
}
@media screen and (max-width: 1024px) {
  .about-slogan {
    flex-flow: column;
  }
}
@media screen and (max-width: 640px) {
  .about-slogan {
    padding: 80px 0px 80px 0px;
  }
}
.about-slogan .about {
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  background-color: var(--white);
}
@media screen and (max-width: 1024px) {
  .about-slogan .about {
    max-width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .about-slogan .about {
    padding: 0px 16px 0px 16px;
  }
}
.about-slogan .text-up {
  color: var(--blue-dark);
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
}
.about-slogan .text-bottom {
  color: var(--blue-dark);
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.0012em;
  margin-top: 1rem;
}
.about-slogan .bold {
  font-weight: bold;
  display: inline;
}
.about-slogan .slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--yellow);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 40px 16px 40px 16px;
  max-width: 550px;
}
.about-slogan .text-slogan {
  display: flex;
  color: var(--blue-dark);
  align-content: center;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.0012em;
}
.about-slogan .text-sub {
  display: flex;
  align-content: center;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}
.about-slogan .button-access {
  border-radius: 15px;
  background-color: var(--blue-dark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
  padding: 0.625rem;
  align-content: center;
  box-shadow: var(--shadow);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.0012em;
  transition: transform 0.3s ease;
}

.why {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  background: #71cc98;
  gap: 30px;
  padding: 40px 30px 80px 30px;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .why {
    padding: 80px 16px 80px 16px;
  }
}
.why-card {
  background-color: #fff;
  color: #003a70;
  display: flex;
  flex-direction: column;
  width: 26vw;
  align-items: center;
  border-radius: 40px;
  margin: 0.5rem 1rem;
  min-width: 320px;
  max-width: 390px;
  box-shadow: 10px 10px 0px #00000026;
}
.why-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.why-card-img {
  width: 3rem;
  margin: 30px;
}
.why-card-title {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 36px;
  text-align: center;
  line-height: 54px;
}
.why-card-p {
  margin: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
}

.whatpublish {
  z-index: 2;
  position: relative;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 80px 30px 80px 30px;
}
@media screen and (max-width: 640px) {
  .whatpublish {
    padding: 80px 0px 80px 0px;
  }
}
.whatpublish-item {
  min-width: 300px;
  background-color: var(--yellow);
  flex-direction: column;
  gap: 30px;
  align-items: center;
  min-height: 350px;
}
.whatpublish-title {
  margin-top: 10px;
  font-family: "Atkinson";
  font-size: 36px;
  line-height: 63px;
  font-weight: bold;
  color: var(--blue-dark);
}
.whatpublish-description {
  font-family: "Atkinson";
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: var(--blue-dark);
  text-align: center;
}
.whatpublish-description-info-container {
  background-color: white;
  border-radius: 30px;
  padding: 10px 40px;
  max-width: 350px;
}
.whatpublish-description-info-details {
  font-family: "Atkinson";
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: var(--blue-dark);
  text-align: center;
}
.whatpublish-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 660px;
}
.whatpublish-info-title {
  font-family: "Atkinson";
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
  color: var(--blue-dark);
  text-align: center;
}
.whatpublish-info-description {
  background-color: white;
  padding: 10px 30px;
  border-radius: 40px;
  font-family: "Atkinson";
  font-size: 26px;
  line-height: 2;
  font-weight: 400;
  color: var(--blue-dark);
  text-align: center;
  box-shadow: 10px 10px 0px #00000026;
}
@media screen and (max-width: 640px) {
  .whatpublish-info-description {
    padding: 10px 16px;
  }
}

.whatactivities {
  position: relative;
  background-color: var(--green);
  font-size: 48px;
  font-family: "Atkinson";
  color: var(--blue-dark);
  line-height: 70px;
}
.whatactivities-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  min-height: 37.5rem;
  padding: 80px 30px 80px 30px;
}
@media screen and (max-width: 640px) {
  .whatactivities-container {
    padding: 80px 16px 80px 16px;
  }
}
.whatactivities-container strong {
  font-weight: 700;
}
.whatactivities-texts-up {
  text-align: center;
  max-width: 900px;
}
.whatactivities-texts-down {
  font-size: 32px;
  text-align: center;
  max-width: 900px;
}
.whatactivities-postits {
  display: flex;
  justify-content: center;
  min-height: 30rem;
  align-items: center;
  padding: 50px 0px;
}
.whatactivities-postit-item {
  align-items: center;
  aspect-ratio: unset;
  background-color: var(--yellow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem;
  position: absolute;
  width: 95vw;
  gap: 1rem;
}
.whatactivities-postit-item-content {
  font-size: 1.25rem;
  line-height: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.whatactivities-postit-item-title {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
}
.whatactivities-postit-item table {
  background-color: var(--white);
  font-size: 1.25rem;
  line-height: 35px;
  border-radius: 30px;
  width: 100%;
}
.whatactivities-postit-item table td {
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5rem;
}
.whatactivities-postit-item table td:first-child {
  border-right: 2px dashed var(--blue-light);
}
.whatactivities-postit-item button {
  font-size: 2.25rem;
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.5rem;
  color: var(--blue-light);
  background-color: var(--white);
}
.whatactivities-postit-item_cursor {
  position: absolute;
  bottom: 0;
  width: 8rem;
  height: 8rem;
}
.whatactivities-postit-item_cursor image {
  width: inherit;
  height: inherit;
}
.whatactivities-postit-item:nth-child(1) {
  margin-right: clamp(0%, 45vw + 5%, 45%);
}
.whatactivities-postit-item:nth-child(2) {
  margin-right: clamp(0%, 25vw + 5%, 30%);
}
.whatactivities-postit-item:nth-child(3) {
  margin-left: clamp(0%, 25vw + 5%, 30%);
}
.whatactivities-postit-item_small {
  transform: scale(0.4);
}
.whatactivities-postit-item_medium {
  transform: scale(0.6);
}
@media (max-width: 480px) {
  .whatactivities-postit-item:not(.whatactivities-postit-item:last-child) {
    display: none;
  }
}

.workshops {
  z-index: 2;
  position: relative;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.15);
  max-width: 1440px;
  background: #F8E08E;
}
.workshops-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 30px 80px 30px;
}
@media screen and (max-width: 1024px) {
  .workshops-section {
    padding: 80px 30px 40px 30px;
  }
}
@media screen and (max-width: 640px) {
  .workshops-section {
    padding: 80px 16px 40px 16px;
  }
}
.workshops-section-half {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 0px;
}
.workshops-section-half svg {
  width: 20rem;
  height: 20rem;
}
.workshops-section-half svg image {
  width: inherit;
  height: inherit;
}
@media screen and (max-width: 1024px) {
  .workshops-section-half {
    padding: 0px 0px 40px 0px;
    min-width: 100%;
  }
}
.workshops-section-half:last-child {
  padding: 0px 0px 0px 15px;
}
@media screen and (max-width: 1024px) {
  .workshops-section-half:last-child {
    padding: 0px 0px 40px 0px;
    flex-direction: column-reverse;
    width: 100%;
  }
}
.workshops-section-half h2 {
  padding: 0px 0px 16px 0px;
  color: #003a70;
  text-align: center;
  line-height: 1.5;
  font-size: 32px;
}
.workshops-section-half p {
  padding: 0px 0px 16px 0px;
  color: #003a70;
  text-align: center;
  line-height: 1.5;
  font-size: 32px;
}
.workshops-section-half img {
  padding: 15px;
}

.call2action-wrap {
  display: flex;
  flex-wrap: wrap;
  min-height: 483px;
  background-color: var(--white);
  justify-content: center;
  align-items: stretch;
}
.call2action-wrap .text-c2a {
  display: flex;
  color: #003A70;
  align-content: center;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 72px;
  letter-spacing: 0.0012em;
}
.call2action-wrap .text-c2a-sub {
  font-size: 32px;
  text-align: justify;
  line-height: 63px;
  letter-spacing: 0.0012em;
}
@media screen and (max-width: 1024px) {
  .call2action-wrap .text-c2a-sub {
    text-align: left;
  }
}
.call2action-wrap .text-c2a-disclaimer-title {
  font-size: 36px;
  text-align: center;
  line-height: 72px;
  letter-spacing: 0.0012em;
}
.call2action-wrap .text-c2a-disclaimer {
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  letter-spacing: 0.0012em;
}
.call2action-wrap svg {
  width: 96px;
  height: 96px;
}
.call2action-wrap svg image {
  width: inherit;
  height: inherit;
}
.call2action-info {
  flex: 1;
  padding: 80px 30px;
  min-width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .call2action-info {
    flex: 100%;
  }
}
.call2action-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.0012em;
  color: var(--blue-dark);
}
.call2action-info strong {
  font-weight: 900;
}
.call2action-contact {
  z-index: 1;
  position: relative;
  box-shadow: 0px -10px 0px rgba(0, 0, 0, 0.15);
  flex: 1;
  background-color: var(--blue-dark);
  color: var(--white);
  min-height: 483px;
  padding: 80px 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  flex-wrap: wrap;
}
.call2action-contact form {
  width: 100%;
}
.call2action-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.0012em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.call2action-group {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  max-width: 405px;
  width: 100%;
  margin: auto;
}
.call2action-group__label {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
  text-align: left;
  letter-spacing: 0.0012em;
  color: #FFFFFF;
}
.error .call2action-group__label {
  color: #ff7c7c;
}
.succes .call2action-group__label {
  color: #2ac834;
}
.call2action-group__label span {
  font-size: 18px;
}
.call2action-group__textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.0012em;
  color: #003a70;
  padding-left: 24px;
  box-shadow: var(--shadow);
}
.call2action-group__input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 45px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.0012em;
  color: #003A70;
  padding-left: 24px;
  box-shadow: var(--shadow);
}
.call2action-group__input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.0012em;
  color: #003A70;
}
.call2action-group__submit {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px 10px;
  min-width: 141px;
  height: 63px;
  background: #F8E08E;
  border-radius: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: 0.0012em;
  color: #003A70;
  margin: 0px auto;
  display: block;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
}
.call2action-group__submit:hover {
  transform: scale(1.05);
}

footer {
  background-color: var(--blue-dark-shadow);
}

.footer-container {
  max-width: 1440px;
  font-size: 36px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 8px;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.footer-brand {
  flex: 100%;
  align-self: center;
  text-align: center;
  padding: 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  flex-flow: column;
  flex: 1;
}
@media screen and (max-width: 1344px) {
  .footer-brand {
    flex: 100%;
  }
}
.footer-brand svg {
  width: 100px;
  height: 100px;
}
.footer-brand svg image {
  height: 100px;
}
.footer-logo-title {
  font-size: 64px;
  line-height: 63px;
  font-family: "Pacifico", sans-serif;
}
.footer-info {
  min-width: 300px;
  padding: 8px 16px;
  text-align: center;
  flex: 100%;
}
.footer-info--small {
  font-size: 20px;
}
.footer-info-developer {
  color: white;
  padding: 4px 8px;
  margin: 8px 4px 0px 4px;
  text-align: center;
  flex: 1;
}
.footer-info-developer-team {
  color: white;
  padding: 4px 8px;
  margin: 8px 4px 0px 4px;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  font-weight: 900;
}
.footer-info-developer p {
  margin: 8px;
  transform: translateX(0%) translateY(48px) scale(0.5);
  opacity: 0;
  transition: all 1s ease-in-out;
  min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer-info-developer img {
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.footer-info-developer:hover p {
  opacity: 1;
  transform: translateX(0%) translateY(0px) scale(1);
}
.footer-info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-info-wrap--line-top {
  border-top: 3px solid #FFFFFF;
}
.footer-info__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
}
.footer-info__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-decoration: none;
  color: var(--white);
  display: block;
  padding: 0px 8px;
}
.footer-info__link:hover {
  text-decoration: underline;
}
.footer-info__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-info__version {
  text-align: end;
  align-self: end;
  flex: 100%;
}

.login-modal {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.527);
  z-index: 10;
  transition: opacity 0.5s;
}
.login-modal-container {
  max-width: 30rem;
  width: 100%;
  min-height: 12.5rem;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 5px;
  gap: 1rem;
}
.login-modal-container h4 {
  font-size: 1.5625rem;
  text-align: center;
  font-weight: 700;
  line-height: 63px;
  color: var(--blue-dark);
  text-align: center;
}
.login-modal-container p {
  font-size: 1.25rem;
  line-height: 35px;
  text-align: center;
}
.login-modal-container svg {
  width: 5rem;
  height: 5rem;
}
.login-modal-container svg image {
  width: inherit;
  height: inherit;
}

.show-login-modal {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=styles.css.map */
