:root {
  --blue-dark: #003a70;
  --blue-dark-shadow: #002140;
  --blue-light: #007d8a;
  --green: #71cc98;
  --yellow: #f8e08e;
  --white: #fff;
  --extra-large-screen: 1440px;
  --large-screen: 1024px;
  --medium-screen: 768px;
  --small-screen: 640px;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.woff") format("woff");
  src: url("../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.eot") format("embedded-opentype"), url("../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.ttf") format("truetype"), url("../assets/fonts/JosefinSans-Regular/JosefinSans-Regular.svg") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.woff") format("woff");
  src: url("../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.eot") format("embedded-opentype"), url("../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.ttf") format("truetype"), url("../assets/fonts/JosefinSans-Bold/JosefinSans-Bold.svg") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Atkinson";
  src: url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.woff") format("woff");
  src: url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.eot"), url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.ttf") format("truetype"), url("../assets/fonts/atkinsonhyperlegible-regular/atkinsonhyperlegible-regular-webfont.svg#webfont") format("svg");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
  line-height: 1;
  background-color: var(--blue-dark);
  font-family: "Atkinson";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  align-items: center;
  background-color: var(--white);
  border-radius: 0 0 0 20px;
  display: flex;
  height: 5rem;
  justify-content: flex-end;
  padding-right: 1rem;
  position: sticky;
  transition: border-radius 1s ease;
  top: 0;
  z-index: 2;
}
header #logo {
  align-items: center;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  text-decoration: none;
}
header #logo svg {
  background-color: var(--white);
  border-radius: 50%;
  border: 10px solid var(--white);
  height: 5.5rem;
  transition: transform 1s ease;
  width: 5.5em;
}
header #logo svg image {
  width: inherit;
  height: inherit;
}
header #logo h1 {
  color: var(--blue-dark);
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(2rem, 8vw + 1rem, 4.5rem);
  font-weight: 700;
  padding-bottom: 10px;
  transition: transform 1s ease;
}
header #logo h1 span {
  background-color: var(--white);
  border-radius: 30px;
  padding-bottom: 0.3rem;
}
header .menu-burger {
  background-color: var(--blue-dark);
  border-radius: 6px;
  overflow: hidden;
  padding: 0.5rem;
}
header .menu-burger:hover {
  cursor: pointer;
}
header .menu-burger .burger-line {
  fill: var(--green);
  height: 0.3rem;
  min-width: 2rem;
  transition: transform 0.5s ease;
}
header .switch-burger .burger-line:nth-child(1) {
  transform: rotate(45deg) scaleX(1.5) translateY(-2px);
}
header .switch-burger .burger-line:nth-child(2) {
  transform: translateX(13px) rotateY(90deg);
}
header .switch-burger .burger-line:nth-child(3) {
  transform: translate(-23px, 13px) rotate(-45deg) scaleX(1.5);
}
header .nav-bar {
  display: flex;
}
header .nav-bar .panel {
  opacity: 0;
  align-items: center;
  background-color: var(--white);
  flex-direction: column;
  gap: 4rem;
  padding-top: 8rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100vh);
  transition: opacity 0.5s, transform 0.5s;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}
header .nav-bar .show-panel {
  opacity: 1;
  transform: translateY(0vh);
}
header .nav-bar ul {
  display: flex;
  gap: 1rem;
}
header .nav-bar ul .button-nav {
  border-radius: 16px;
  border: 4px solid var(--blue-dark);
  color: var(--blue-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding: 0.5rem 0.3rem;
  text-decoration: none;
}
header .nav-bar ul .button-nav:hover {
  color: var(--green);
}
header .nav-bar ul .login {
  background-color: var(--blue-dark);
  color: var(--white);
}

.header-on-scroll {
  border-radius: 0;
}
.header-on-scroll #logo svg {
  transform: scale(0.6) translateY(-25px);
}
.header-on-scroll #logo h1 {
  transform: scale(0.6) translateY(-12px) translateX(-120px);
}

.container {
  max-width: var(--extra-large-screen);
  margin: 0 auto;
}

footer {
  background-color: var(--blue-dark-shadow);
}

.footer-container {
  max-width: 1440px;
  font-size: 36px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 8px;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.footer-brand {
  flex: 100%;
  align-self: center;
  text-align: center;
  padding: 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  flex-flow: column;
  flex: 1;
}
@media screen and (max-width: 1344px) {
  .footer-brand {
    flex: 100%;
  }
}
.footer-brand svg {
  width: 100px;
  height: 100px;
}
.footer-brand svg image {
  height: 100px;
}
.footer-logo-title {
  font-size: 64px;
  line-height: 63px;
  font-family: "Josefin Sans", sans-serif;
}
.footer-info {
  min-width: 300px;
  padding: 8px 16px;
  text-align: center;
  flex: 1;
}
.footer-info--small {
  font-size: 20px;
}
.footer-info-developer {
  color: white;
  padding: 4px 8px;
  margin: 8px 4px 0px 4px;
  text-align: center;
}
.footer-info-developer-team {
  color: white;
  padding: 4px 8px;
  margin: 8px 4px 0px 4px;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  font-weight: 900;
}
.footer-info-developer p {
  margin: 8px;
  transform: translateY(48px) scale(0.5);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.footer-info-developer img {
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.footer-info-developer:hover p {
  opacity: 1;
  transform: translateY(0px) scale(1);
}
.footer-info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-info-wrap--line-top {
  border-top: 3px solid #FFFFFF;
}
.footer-info__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
}
.footer-info__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-decoration: none;
  color: var(--white);
  display: block;
}
.footer-info__link:hover {
  text-decoration: underline;
}
.footer-info__version {
  text-align: end;
  align-self: end;
  flex: 100%;
}

.about-slogan {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}
.about-slogan .about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 500px;
  background-color: var(--blue-dark);
  padding-left: 50px;
}
.about-slogan .text {
  color: var(--white);
  font-size: 40px;
  width: 92%;
  padding-top: 10px;
}
.about-slogan .bold {
  font-weight: bold;
  display: inline;
}
.about-slogan svg {
  padding-top: 50px;
  width: 300px;
  min-height: 40px;
}
.about-slogan image {
  width: inherit;
  height: inherit;
}
.about-slogan .slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 500px;
  background-color: var(--yellow);
  gap: 15px;
  padding-left: 15px;
}
.about-slogan .text-slogan {
  display: flex;
  color: black;
  align-content: center;
  font-size: 50px;
  width: 75%;
  font-weight: bold;
}
.about-slogan .button-access {
  border-radius: 15px;
  background-color: var(--blue-dark);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  width: 325px;
  height: 45px;
  margin-top: 50px;
  text-decoration: none;
  padding: 0.5rem 0.3rem;
  align-content: center;
}

.call-to-action-2 {
  width: 100%;
  height: 100%;
  background-color: var(--green);
}

.text-int {
  padding-top: 20px;
  font-size: 50px;
  text-align: center;
}

.type-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.options {
  list-style: disc;
  padding: 8%;
}

.user {
  border-radius: 16px;
  background-color: var(--white);
  border: 10px solid var(--blue-dark);
  color: var(--blue-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 350px;
  height: 300px;
  margin-top: 50px;
  padding: 0.5rem 0.3rem;
  margin-right: 10%;
}

.text-user {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.voluntaries {
  border-radius: 16px;
  background-color: var(--yellow);
  border: 10px solid var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 400px;
  height: 300px;
  margin-top: 50px;
  padding: 0.5rem 0.3rem;
}

.access-webpage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.button-access-web {
  text-align: center;
  margin-top: 10%;
  border-radius: 15px;
  background-color: var(--blue-dark);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  width: 325px;
  height: 45px;
  margin-top: 50px;
  text-decoration: none;
  padding: 0.5rem 0.3rem;
  align-content: center;
}

/*# sourceMappingURL=styles.css.map */
